body{
    background-color: #D8F072 !important;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    z-index: 100;
    font-weight: bold;
}
.custom-control-label{
    color: #4D2E38;
}
#group{
    z-index: 1001;
    overflow: hidden;
    background-color: #D8F072;
    position: fixed; 
    top: 0; 
    left: -320px;
    width: 430px;
    padding: 10px;
    border: 1px solid #56494E;
    border-radius: 0 0 50px 0;
    box-sizing: border-box;
}
#left_group{
    display: block;
    width: 300px;
    float: left;
    height: 100%;
    box-sizing: border-box;
}
#right_group{
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 200px ;
    background-image: url(arrow-right.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
}
#bottom_group{
    clear: both;
}
.custom-control{
    border-radius: 20px;
}

.myForm {
    padding: 40px;
    margin: 20px;
    margin-left: 130px;
    margin-right: 130px;
    border: 2px solid #04801c;
    background-color:  #dcf8c3;
    border-radius: 20px;
}
.goRight{
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: right;
}
.goLeft{
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: left;
}
@keyframes right {
    0%{
        left: -320px;
    }
    100%{
        left: 0;
    }
}
@keyframes left {
    0%{
        left: 0;
    }
    100%{
        left: -320px;
    }
}
